{% extends "book_details_layout.html" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 author">
                <img src="{{ img }}" alt="Image unavailable">
                <h1>{{ author }}</h1>
                <p>
                    {{ author_info }}
                    <a href="{{ url }}" target="_blank">Wikipedia</a>
                </p>
            </div>

            <div class="col-sm-6 author-work">
                {% for id, isbn, title, author, year in books %}
                    <li>{{ title }}</li>
                    <img src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg" alt="No image available">
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
