{% extends "book_details_layout.html" %}

{% block body %}
    <style>
        body {
            background-color: rgba(211, 211, 211, 0.1);
        }
        .books {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
        }
        .book {
            background-color: #ffffff;
            padding: 20px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            border-radius: 20px;
        }
        .book-title {
            padding-left: 20px;
        }
        .form {
            text-align: center;
        }
        .hide {
            display: none;
        }
        .clear {
            float: none;
            clear: both;
        }
        .rating {
            width: 90px;
            unicode-bidi: bidi-override;
            direction: rtl;
            text-align: center;
            position: relative;
        }
        .rating > label {
            float: right;
            display: inline;
            padding: 0;
            margin: 0;
            position: relative;
            width: 1.1em;
            cursor: pointer;
            color: #000;
        }
        .rating > label:hover,
        .rating > label:hover ~ label,
        .rating > input.radio-btn:checked ~ label {
            color: transparent;
        }
        .rating > label:hover:before,
        .rating > label:hover ~ label:before,
        .rating > input.radio-btn:checked ~ label:before,
        .rating > input.radio-btn:checked ~ label:before {
            content: "\2605";
            position: absolute;
            left: 0;
            color: #FFD700;
        }

        @media only screen and (max-width: 480px) {
            .books {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .book {
                background-color: #ffffff;
                padding: 0px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 20px;
            }
            .book-cover {
                margin-left: 20px;
            }
        }
    </style>

    <section>
        <div class="books">
            {% for id, isbn, title, author, year in book %}
                <div class="container">
                    {% if isRated or review_submitted %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ success_message }}
                        </div>
                    {% endif %}

                    {% if has_blank_review %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ error_message }}
                        </div>
                    {% endif %}
                    <div class="book">
                        <div class="book-cover">
                            <img src="http://covers.openlibrary.org/b/isbn/{{ isbn }}-M.jpg" alt="No image available">
                        </div>
                        <div class="book-title">
                            <p>
                                <h2>{{ title }}</h2>
                                by: <a href="{{ url_for('author', author=author) }}">{{ author }}</a>
                                <br>
                                Published: {{ year }}
                                <br>
                                Rating: {{ average_rating }} / 5
                                <br>
                                {{ working_rating }} people have rated this book.
                            </p>
                            {% if user_in_session %}
                                {% if user_rated_book %}
                                    <span>You rated this book already.</span>
                                {% else %}
                                    <div class="form">
                                        <form action="{{ url_for('title', title=title, form_id=1, author=author) }}" method="POST">
                                            <div class="rating">
                                                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                                <label for="star5" >☆</label>
                                                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                                <label for="star4" >☆</label>
                                                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                                <label for="star3" >☆</label>
                                                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
                                                <label for="star2" >☆</label>
                                                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                                <label for="star1" >☆</label>
                                                <div class="clear"></div>
                                                <button class="btn btn-sm btn-outline-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <br>
                    {% if user_in_session %}
                        <div class="review">
                            <div class="form-group">
                                <form action="{{ url_for('title', title=title, form_id=2, author=author) }}" method="POST" id="review-form">
                                    <label for="reviewTextarea1">Leave a review</label>
                                    <textarea class="form-control" id="reviewTextarea1" name="review" rows="3" form="review-form" placeholder="Enter review here..."></textarea>
                                    <br>
                                    <button class="btn btn-sm btn-outline-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}

                    {% for username, review, date in reviews %}
                        <div class="review">
                            <div class="posted" style="position: relative; font-size: 13px;">
                                <span style="position: relative; font-weight: bold;">{{ username }}</span>
                                <span style="position: absolute; right: 0;">{{ date }}</span>
                            </div>
                            <div class="text">
                                <span>{{ review }}</span>
                            </div>
                            <hr>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
