{% extends "authentication_layout.html" %}

{% block body %}
    <div class="box">
        <div class="contents">
            <h1>Login</h1>
            <form method="POST">
                <div class="input-box">
                    <input id="username" type="text" placeholder="Username" name="username" value="{{ request.form.username }}" required>
                    <h6 class="error">{{ username_error }}</h6>
                </div>

                <div class="input-box">
                    <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required>
                    <h6 class="error">{{ password_error }}</h6>
                </div>

                <button class="submit">Login</button>
            </form>

            <hr>

            <span>
                Don't have an account? 
                <a style="text-decoration: none;" class="text-success" href="{{ url_for('register') }}">
                    Sign Up
                </a>
            </span>
        </div>
    </div>
{% endblock %}
