{% extends "authentication_layout.html" %}

{% block body %}
    <div class="box">
        <div class="contents">
            <h1>Login</h1>
            <form action="{{ url_for('index') }}">
                <div class="input-box">
                    <input type="text" placeholder="Username" name="username" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Password" name="password" required>
                </div>

                <button class="submit">Login</button>
            </form>

            <hr>

            <span>
                Don't have an account? 
                <a style="text-decoration: none;" class="text-success" href="{{ url_for('register') }}">
                    Sign Up
                </a>
            </span>
        </div>
    </div>
{% endblock %}
